.text-box {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}
.btn-main {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #007bff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  height: 34.4px;
  margin-left: 10px;
}
.dlt-btn {
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.wrapper-todo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
